<!DOCTYPE html>
<html lang="en-us">
        
        <%- include('index/head') %>
        
        <div class="container-principal">
                
                <%- include('index/introducao'); %>    
                <%- include('index/rotas'); %>    
                <%- include('index/quem'); %>    
                <%- include('index/testemunhos'); %>    
                <%- include('index/contatos'); %>    
                
        </div>
<%- include('partials/componentes/footer'); %>

</body>

</html>